Repository danieleongari/CURATED-MOFs: changes, and which pre-commit hooks are due for each by the changed paths.
All: csv-unique-names, overlapping-atoms

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: mixed-line-ending
  # this would affect all CIF files, changing their hashkeys
  # - id: trailing-whitespace

- repo: local
  hooks:
  - id: csv-unique-names
    name: Check that CURATED-MOF names are unique
    entry: python ./.github/validate.py unique-mof-names
    language: system
    pass_filenames: false
    files: >-
        (?x)^(
            mof-frameworks.csv
        )$
  - id: overlapping-atoms
    name: Check that there are no overlapping atoms.
    entry: python ./.github/validate.py overlapping-atoms
    language: system
    pass_filenames: true
    files: >-
        (?x)^(
            cifs/.*.cif
        )$

validate uniqueness of structures
  .github/requirements.txt
  .github/validate.py
  .github/workflows/ci.yml
  cifs/DIDBIE.cif
  cifs/VEJZOA.cif
  cifs/VEJZUG.cif
  mof-frameworks.csv
Due: csv-unique-names, overlapping-atoms

fix SUKXUS01
  cifs/SUKXUS01.cif
  mof-frameworks.csv
Due: csv-unique-names, overlapping-atoms

fix RIDCEN
  cifs/RIDCEN.cif
  mof-frameworks.csv
Due: csv-unique-names, overlapping-atoms

rename -NH2 mofs
  cifs/RUBTAK-NH2.cif
  cifs/RUPRUQ-NH2.cif
  mof-frameworks.csv
Due: csv-unique-names, overlapping-atoms

remove whishlist (see among github issues)
  wishlist.txt
Due: none

chmod -x for cifs
  cifs/691978.cif
  cifs/691979.cif
  cifs/DAZMID.cif
  cifs/FAHGUU.cif
  cifs/FAHHAB.cif
  cifs/FAHHEF.cif
  cifs/FAHHIJ.cif
  cifs/FAHHOP.cif
  cifs/FAHHUV.cif
  cifs/ROYJOG.cif
Due: overlapping-atoms

fixed corrupted HAFTOZ
  cifs/HAFTOZ.cif
Due: overlapping-atoms

rename VEJYOZ uncorrectly misspelled
  cifs/VEJYOZ.cif
Due: overlapping-atoms

convert all cifs to P1
  cifs/VEJYEP.cif
  cifs/VEJYIT.cif
  cifs/VEJYOZ.cif
  cifs/VEJZAM.cif
  cifs/VEJZEQ.cif
  cifs/VELVIS.cif
  cifs/WIZMAV.cif
Due: overlapping-atoms

convert all cifs to manage_crystal standard format
  cifs/691978.cif
  cifs/691979.cif
  cifs/CELZUQ.cif
  cifs/CIGXIA.cif
  cifs/DAZMID.cif
  cifs/DIDBIE.cif
  cifs/EQOCOC01.cif
  cifs/FAHGUU.cif
  cifs/FAHHAB.cif
  cifs/FAHHEF.cif
  cifs/FAHHIJ.cif
  cifs/FAHHOP.cif
  cifs/FAHHUV.cif
  cifs/GITTOT02.cif
  cifs/NAXVOY.cif
  cifs/NAXVOY01.cif
  cifs/QIWFIN01.cif
  cifs/RIDCEN.cif
  cifs/RIPKEH.cif
  cifs/ROYJOG.cif
  cifs/RUBTAK-NH2.cif
  cifs/RUPRUQ-NH2.cif
  cifs/SUKXUS01.cif
  cifs/VEJYEP.cif
  cifs/VEJYIT.cif
  cifs/VEJYOZ.cif
  cifs/VEJYUF.cif
  cifs/VEJZAM.cif
  cifs/VEJZEQ.cif
  cifs/VEJZIU.cif
  cifs/VELVIS.cif
  cifs/VELVOY.cif
  cifs/WAGQAY.cif
  cifs/WIZMAV.cif
  cifs/XICNOO02.cif
  cifs/YUZBOM.cif
Due: overlapping-atoms

Update mof-series.csv
  mof-series.csv
Due: none
